* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: crimson;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  color: #222;
  padding: 5% 10%;
}
#card-wrapper {
  /*wrapps all cards in one container*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 5%;
  padding: 5% 10%;
}

.card-container-heading {
  width: 100%;
  text-align: center;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-details {
  padding: 20px;
}

.card-buttons {
  width: 20px;
  padding: 5%;
  display: flex;
}

button {
  background: red;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s linear;
  margin: 5%;
}

button:hover {
  font-size: 1.1em;
  background: pink;
  color: red;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}
